table, th, td{
    border: 1px solid rgb(247, 244, 244);
    border-collapse: collapse;
}
th{
    background-color: darkcyan;
    color: antiquewhite;    
}
.one{
    width: 30%;
}

td{
    text-align: center;
    padding: 15px;
}

tr{
    height: 50px;
}
.two{
    background-color: darkcyan;
    
   }
